@model CSVViewModel

@{
    ViewData["Title"] = "UploadViaCSV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<form enctype="multipart/form-data" asp-action="UploadViaCSV" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="filePath" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="filePath" class="form-control custom-file-input" />
                <label class="custom-file-label">Upload a csv file...</label>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                console.log($(this));
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}

