<h3>
    An error occured during processing
</h3>

<hr />

@*<h3>Error details: </h3>

<div class="alert alert-danger">
    <h3>Exception Path</h3>
    <h3/>
    @ViewBag.ExceptionPath
</div>

<div class="alert alert-danger">
    <h3>Exception Path</h3>
    <h3 />
    @ViewBag.ExceptionMessage
</div>

<div class="alert alert-danger">
    <h3>Exception Path</h3>
    <h3 />
    @ViewBag.StackTrace
</div>*@
